@import "styles/_theme.scss";

$border-width: 1px;
$input-padding: 0.75rem 0.5rem;

.root {
  // TODO: should apply basaeline fonts through the theme somehow
  font-family: $primary-font;
  display: flex;
  flex-direction: column;
  position: relative;
  letter-spacing: 0.025rem;
}

.input {
  // TODO: should have padding/margin vars
  padding: $input-padding;
  border: $border-width solid $secondary-color;
  color: $tertiary-color;
  outline: none;
  border-radius: 0;
  font-size: 0.75rem;

  &:focus + .label {
    opacity: 0;
  }
}

.label {
  margin-top: 0.5rem;
  opacity: 1;

  // TODO: should have font scale vars
  font-size: 0.85rem;
  font-weight: 200;
  color: $secondary-color;
  transition: 0.23s;
}

.passwordIcon {
  position: absolute;
  top: 9px;
  right: 9px;
  z-index: 1;
  font-size: 0.85rem;
  z-index: 1;
  line-height: 1;
  border: 1px solid $primary-color;
  padding: 0.25rem;
  color: $primary-color;
}

.hidePassword {
  position: absolute;
  top: $border-width;
  left: $border-width;
  width: calc(100% - (#{$border-width} * 2));
  height: 39px;
  background: white;
  padding: $input-padding;
  box-sizing: border-box;
  pointer-events: none;
}
