.Button_root__3ros1 {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.025rem;
  font-size: 0.85rem;
  min-height: 2.5rem;
  min-width: 10rem;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  outline: none;
  cursor: default;
  border: none; }

.Button_primary__I_9I9 {
  color: #646464;
  background: none;
  text-decoration: underline; }

.Button_secondary__1gv5E {
  border: 1px solid transparent;
  background: #1d1d1d;
  color: #999; }
  .Button_secondary__1gv5E:hover, .Button_secondary__1gv5E:focus {
    background: none;
    border-color: #1d1d1d; }

.Button_tertiary__1kB5S {
  background: #de4455;
  color: white; }

.Input_root__2tE1E {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  letter-spacing: 0.025rem; }

.Input_input__3rPb3 {
  padding: 0.75rem 0.5rem;
  border: 1px solid #646464;
  color: #999;
  outline: none;
  border-radius: 0;
  font-size: 0.75rem; }
  .Input_input__3rPb3:focus + .Input_label__3sEkI {
    opacity: 0; }

.Input_label__3sEkI {
  margin-top: 0.5rem;
  opacity: 1;
  font-size: 0.85rem;
  font-weight: 200;
  color: #646464;
  -webkit-transition: 0.23s;
  transition: 0.23s; }

.Input_passwordIcon__1Q4LZ {
  position: absolute;
  top: 9px;
  right: 9px;
  z-index: 1;
  font-size: 0.85rem;
  z-index: 1;
  line-height: 1;
  border: 1px solid #1d1d1d;
  padding: 0.25rem;
  color: #1d1d1d; }

.Input_hidePassword__2SwI- {
  position: absolute;
  top: 1px;
  left: 1px;
  width: calc(100% - (1px * 2));
  height: 39px;
  background: white;
  padding: 0.75rem 0.5rem;
  box-sizing: border-box;
  pointer-events: none; }

.Form_root__3JiRj [class*="Input_root"] {
  margin-bottom: 1rem; }

.Modal_root__3Mk4M {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.Modal_dimmer__2JLj9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1; }

.Modal_modal__1vwov {
  left: 50%;
  top: 10%;
  margin-left: calc(-550px / 2);
  width: 550px;
  position: absolute;
  z-index: 2;
  background: white;
  font-family: "Lato", sans-serif;
  color: #646464;
  padding: 2rem 1.5rem;
  min-height: 250px;
  font-size: 0.85rem; }

.Modal_title__1gczl {
  font-weight: 200;
  font-size: 1rem;
  margin: 0 0 2rem;
  color: #646464;
  border-left: 2px solid #1d1d1d;
  line-height: 1;
  padding-left: 0.5rem;
  padding: 0.25rem 0 0.25rem 0.5rem; }

.Modal_close__2EfR5 {
  position: absolute;
  z-index: 3;
  bottom: 1rem;
  right: 1rem;
  color: #1d1d1d;
  text-decoration: none;
  padding: 0;
  min-width: 0;
  min-width: initial;
  min-height: 0;
  min-height: initial;
  font-size: 0.7rem; }

.Modal_download__2YiCu {
  position: absolute;
  z-index: 3;
  top: 0.5rem;
  right: 0.5rem;
  color: #646464;
  text-decoration: none;
  padding: 0;
  min-width: 0;
  min-width: initial;
  min-height: 0;
  min-height: initial;
  width: 14px;
  border-top: 0;
  height: 17px;
  line-height: 0;
  font-size: 1rem;
  display: block;
  cursor: pointer; }


/*# sourceMappingURL=main.css.map*/